body {
    font-family: Arial;
}

p {
    margin: 0;
    padding: 0;
}

/* with "," we can style multiple classes at the same time*/
.todo-grid, .todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px; /*sets how many columns are in our grid*/
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
    align-items: center; /* vertical-align */
}

.todo-input-grid {
    /* ajusta o tamanho das coisas proporcinalmente aos demais */
    align-items: stretch; 

}

.js-btn-addTodo {
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dlt-btn {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
